{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.vue",
            "options": {
                "parser": "vue"
            }
        }
    ]
}
